<%- include('partials/header') %>

        <pre> </pre>
        <div class="container-fluid">
                <div>
                    <h2>Hello, This is the Checkout Page!</h2>
                    <h2>Total Cost:  <%=  cart.totalCost %> </h2>
                </div>
                <pre></pre>
                <div>
                    <a href="/order" class="btn btn-secondary">Order</a>
                </div>
        </div>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>
        <pre> </pre>

        <%- include('partials/footer') %>